matplotlib
numpy
pandas
Pillow
joblib
PyJWT
requests==2.22.0
requests_toolbelt==0.9.1
urllib3
pyrebase
Pyrebase4
scikit_learn==1.2.2
scikit-learn==1.2.2
seaborn
streamlit
streamlit_lottie
streamlit_option_menu
secure-smtplib
